.Welcome {
    display: flex;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    gap: 20px;
}

.Welcome > p {
    max-width: 400px;
    text-wrap: wrap;
}

h1 {
    margin: 0;
}