.App-root {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: row;
  justify-content: space-between;
}

.App-header {
  display: flex;
  width: 22vw;
  flex-direction: column;
  justify-content: space-between;
}

.App-header-top {
  display: flex;
  position: relative;
  left: 5px;
  top: 5px;
  margin: 10px 0 5px 15px;
  height: 85px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(18, 21, 26);
}

.App-header-top > img {
  position: absolute;
  left: 23px;
  margin: 0;
  width: 60px;
  height: 60px;
  animation: spin 5s infinite ease-in-out;
  -webkit-animation: spin 5s infinite ease-in-out;
  -moz-animation: spin 5s infinite ease-in-out;
}

.App-header-top > h1 {
  position: absolute;
  left: 88px;
  top: 18px;
  margin: 0 10px 0 0;
  font-size: 26px;
}

.App-header-top > p {
  position: absolute;
  left: 88px;
  bottom: 18px;
  margin: 0;
  font-size: 14px;
}

.App-header-bottom {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 15px 15px;
  padding: 15px;
  align-items: flex-start;
  justify-content: stretch;
  flex-grow: 1;
  text-wrap: wrap;
  border-radius: 20px;
  background-color: rgb(18, 21, 26);
}

.App-header-bottom > button {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: left;
  flex-direction: row;
  padding: 12px;
  gap: 15px;
  border: 0px;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(167, 167, 167);
}

.App-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 78vw;
  margin: 15px 15px 15px 10px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(transparent, rgb(12, 14, 17));
  animation: rainbow 20s infinite;
  -webkit-animation: rainbow 20s infinite;
  -moz-animation: rainbow 20s infinite;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 80
}

@keyframes rainbow {
  0% { background-color: rgb(83, 43, 43) }
  16% { background-color: rgb(77, 63, 39) }
  33% { background-color: rgb(65, 65, 32) }
  50% { background-color: rgb(39, 77, 39) }
  66% { background-color: rgb(40, 40, 78) }
  83% { background-color: rgb(82, 39, 76) }
  100% { background-color: rgb(83, 43, 43) }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}